@font-face {
    font-family: 'Bus Stop';
    src: url('BusStop.eot');
    src: url('BusStop.eot?#iefix') format('embedded-opentype'),
        url('BusStop.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

